body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: dodgerblue;
    color: black;
    padding: 10px;
    text-align: center;
}

.banner h1 {
    margin: 0;
}

nav {
    background-color: deepskyblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input[type="radio"] {
    display: none;
}

label {
    padding: 10px 20px;
    background-color: darkslategray;
    color: white;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: deepskyblue;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.bordered-text {
    border: 1px solid darkslategray;
    padding: 10px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: darkslategray;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.download-button:hover {
    background-color: deepskyblue;
}

ol {
    margin: 0;
    padding: 0 0 0 20px;
}

a {
    display: block;
    margin-top: 10px;
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    background-color: dodgerblue;
    color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
